html, body {
  height: 100%;  // Set the height of the html and body elements to 100%
  overflow: hidden;  // Hide overflow content
}

body {
  background: {background_color};  // Set background color
  font-family: 'Microsoft JhengHei', sans-serif;  // Set font family
  font-weight: 500;  // Set font weight
  font-size: {font_size};  // Set font size
  line-height: 1.2em;  // Set line height
  color: {text_color};  // Set text color
}

#log>div {
  // Set animations for message elements within the log
  animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.colon {
  display: none;  // Hide colon character
}

#log {
  // Set the properties of the log container
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px;
  width: 100%;
  table-layout: fixed;
}

#log>div.deleted {
  visibility: hidden;  // Hide deleted messages
}

#log .emote {
  // Set properties for emote elements within the log
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  // Set properties for images within emote elements
  display: inline-block;
  height: 1em;
  opacity: 0;
}

#log .message, #log .meta {
  // Set common properties for message and meta elements
  vertical-align: top;
  display: table-cell;
  padding-bottom: 0.1em;
  text-align: left;
}

#log .meta {
  // Set properties for meta elements
  width: 100px;
  padding-right: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

#log .message {
  // Set properties for message elements
  overflow-wrap: break-word;
  width: calc(100% - 35% - 0.5em);
  text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
}

.badge {
  // Set properties for badge elements
  display: inline-block;
  margin-right: 0.2em;
  position: relative;
  height: 1em;
  vertical-align: middle;
  top: -0.1em;
}

.name {
  // Set properties for name elements
  margin-left: 0.2em;
  text-align: left;
  text-shadow: -2px -2px #000000,-2px -1px #000000,-2px 0px #000000,-2px 1px #000000,-2px 2px #000000,-1px -2px #000000,-1px -1px #000000,-1px 0px #000000,-1px 1px #000000,-1px 2px #000000,0px -2px #000000,0px -1px #000000,0px 0px #000000,0px 1px #000000,0px 2px #000000,1px -2px #000000,1px -1px #000000,1px 0px #000000,1px 1px #000000,1px 2px #000000,2px -2px #000000,2px -1px #000000,2px 0px #000000,2px 1px #000000,2px 2px #000000;
}
